{
  "plugins": [
    "node"
  ],
  "extends": [
    "plugin:node/recommended",
    "standard"
  ],
  "rules": {
    "node/exports-style": [
      "error",
      "module.exports"
    ],
    "no-console": 0
  }
}
